*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.table-header {
  display: flex;
  justify-content: space-between;
}
.customer-list-item {
  display: flex;
  justify-content: space-between;
}

.customer-list {
  list-style-type: none;
}
.cell {
  border: 1px solid;
  width: 14.28%;
}
